---
layout: default
title: "UDOIT: Accessibility Scanning Tool for Online Course Content"
---
{% include header.html activePage="installation"%}
<div id="hero" class="install-page-hero">
  <div class="page-width flex-row justify-content-between h-100">
    <div id="installation-hero-text"  class="hero-text-content flex-column justify-content-center pb-2">
      <h1>Installing UDOIT</h1>
      <p>Integrate UDOIT directly into your Learning Management System</p>
    </div>

    <div class="hero-image-container flex-column justify-content-center ml-4">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M480-337q-8 0-15-2.5t-13-8.5L308-492q-12-12-11.5-28t11.5-28q12-12 28.5-12.5T365-549l75 75v-286q0-17 11.5-28.5T480-800q17 0 28.5 11.5T520-760v286l75-75q12-12 28.5-11.5T652-548q11 12 11.5 28T652-492L508-348q-6 6-13 8.5t-15 2.5ZM240-160q-33 0-56.5-23.5T160-240v-80q0-17 11.5-28.5T200-360q17 0 28.5 11.5T240-320v80h480v-80q0-17 11.5-28.5T760-360q17 0 28.5 11.5T800-320v80q0 33-23.5 56.5T720-160H240Z"/></svg>
    </div>
  </div>
</div>

<main class="flex-row justify-content-between page-width">
  <div id="main-content" class="flex-column flex-grow-1">
    <section class="main-page-section">
      <h2 id="link1">First Step</h2>
      <p>Installation details go here.</p>
    </section>
    <section class="main-page-section">
      <h2 id="link2">Second Step</h2>
      <p>Installation details go here.</p>
    </section>
    <section class="main-page-section">
      <h2 id="link3">Third Step</h2>
      <p>Installation details go here.</p>
    </section>
    <section class="main-page-section">
      <h2 id="link4">Fourth Step</h2>
      <p>Installation details go here.</p>
    </section>
  </div>
  <aside>
    <div class="aside-content">
      <h2>Quick Links</h2>
      <nav aria-label="Page Navigation">
        <ul>
          <li><a href="#link1">First Step</a></li>
          <li><a href="#link2">Second Step</a></li>
          <li><a href="#link3">Third Step</a></li>
          <li><a href="#link4">Fourth Step</a></li>
        </ul>
      </nav>
    </div>
  </aside>
</main>
{% include footer.html %}