<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, minimum-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./css/boilerplate.css" />
    <link rel="stylesheet" href="./css/theme.css" />
    <link rel="stylesheet" href="./css/viewTransitions.css" />
    <link rel="expect" href="#body" blocking="render" />
    <script src="./js/delayViewRender.js"></script>
  </head>
  <body id="body">
    {{ content }}
  </body>
</html>

<script src="./js/persist.js"></script>